@import "./utils/variables";
@import "./utils/mixins";
@import "./base/normalize";
@import "./utils/placeholders";
@import "./components/header/header";
@import "./components/header/logo";
@import "./components/header/nav-header";
@import "./components/mobile-menu";
@import "./components/header/contacts-header";
@import "./components/hero-section";
@import "./components/quality-section";
@import "./components/work-section";
@import "./components/team-section";
@import "./components/clients-section";
@import "./components/footer/footer";
@import "./components/footer/footer-logo";
@import "./components/footer/footer-address";
@import "./components/footer/footer-social";
@import "./components/footer/footer-form";
@import "./components/backdrop";
@import "./components/popap";
@import "./components/form-order";
