.clients {
  text-align: center;
  &__header {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @include desktop {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }
  &__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);
    height: 92px;

    @include tablet {
      flex-basis: calc((100% - 60px) / 3);
    }
    @include desktop {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
  &__link {
    @extend %link;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    fill: $icon-color;
    border: 1px solid $icon-color;
    border-radius: 4px;

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    fill: $hover-font-color;
    border-color: $hover-font-color;
  }
  &__icon {
    width: 106px;
    height: 60px;
  }
}
