.clients {
  text-align: center;
  &__header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  &__list {
    @extend %list;

    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__item {
    width: calc(100% / 6);
    height: 92px;
  }
  &__link {
    @extend %link;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: $icon-color;
    border: 1px solid $icon-color;
    border-radius: 4px;

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    fill: $hover-font-color;
    border-color: $hover-font-color;
  }
  &__icon {
    width: 106px;
    height: 60px;
  }
}
