.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-color: $secondary-bg-color;
  text-align: center;
  background-image: $bg-gradient, url("../images/hero/mobile-hero.jpg");
  background-image: $bg-gradient, url("../images/hero/mobile-hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  @include retina-2x {
    background-image: $bg-gradient, url(../images/hero/mobile-hero2x.jpg);
    background-image: $bg-gradient, url(../images/hero/mobile-hero2x.webp);
  }
  @include retina-3x {
    background-image: $bg-gradient, url(../images/hero/mobile-hero3x.jpg);
    background-image: $bg-gradient, url(.../images/hero/mobile-hero3x.webp);
  }
  @include mobile {
    background-image: $bg-gradient, url(../images/hero/tablet-hero.jpg);
    background-image: $bg-gradient, url(../images/hero/tablet-hero.webp);
    @include retina-2x {
      background-image: $bg-gradient, url(../images/hero/tablet-hero2x.jpg);
      background-image: $bg-gradient, url(../images/hero/tablet-hero2x.webp);
    }
    @include retina-3x {
      background-image: $bg-gradient, url(../images/hero/tablet-hero3x.jpg);
      background-image: $bg-gradient, url(../images/hero/tablet-hero3x.webp);
    }
  }
  @include tablet {
    background-image: $bg-gradient, url(../images/hero/desktop-hero.jpg);
    background-image: $bg-gradient, url(../images/hero/desktop-hero.webp);
    @include retina-2x {
      background-image: $bg-gradient, url(../images/hero/desktop-hero2x.jpg);
      background-image: $bg-gradient, url(../images/hero/desktop-hero2x.webp);
    }
    @include retina-3x {
      background-image: $bg-gradient, url(../images/hero/desktop-hero3x.jpg);
      background-image: $bg-gradient, url(../images/hero/desktop-hero3x.webp);
    }
  }
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &__title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 360px;
    color: $white-font-color;

    font-weight: 900;
    font-size: 20px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @include mobile {
      font-size: 26px;
    }
    @include desktop {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
  &__button {
    @extend %button;

    padding: 10px 32px;
  }
}
