.card {
  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__item {
    width: calc(100% / 3 - 30px);
    margin: 15px;
    border: 1px solid $border-color;
  }
  &__link {
    @extend %link;

    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__content {
    padding: 20px 24px;
  }
  &__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &__text {
    color: $secondary-font-color;

    font-size: 16px;
    line-height: 1.88;
  }
}
.thumb {
  position: relative;
  overflow: hidden;

  &__img {
    display: block;
    max-width: 100%;
  }
  &__text {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $white-font-color;
    background-color: rgba(33, 150, 243, 0.9);

    transition-property: top;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card__link:hover &__text,
  .card__link:focus &__text {
    top: 0;
  }
}
