.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 10;
  overflow-y: auto;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &.is-open {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
.menu-container .menu-toggle {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile-menu {
  &__list {
    @extend %list;

    margin-bottom: 302px;
  }
  &__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    @extend %link;

    &:hover,
    &:focus {
      color: $hover-font-color;
    }
  }
}
.mobile-contacts__list {
  @extend %list;
  margin-bottom: 64px;
}
.mobile-contacts__item {
  &:nth-child(odd) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: $hover-font-color;
  }
  &:nth-child(even) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $secondary-font-color;
  }
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-contacts__link {
  @extend %link;
}
