.modal {
  position: relative;
  margin: 0 auto;
  padding: 40px 15px 25px 15px;

  max-width: 450px;
  min-height: 581px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 500ms ease 150ms;
  @include mobile {
    padding: 40px;
  }

  @include desktop {
    max-width: 528px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  &__header {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.01em;

    @include mobile {
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.03em;
    }

    @include desktop {
      line-height: 1.15;
    }
  }
  &__btn-close {
    position: absolute;
    padding: 5px;
    top: 8px;
    right: 8px;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
  }
  &__icon-close {
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__btn-close:hover,
  &__btn-close:focus {
    fill: $hover-font-color;
  }
}
