.team {
  background-color: #f5f4fa;
  &__header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  &__list {
    @extend %list;

    display: flex;
    column-gap: 30px;
  }
  &__item {
    flex-basis: calc(100% / 4 - 30px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: #fff;
  }
  &__img {
    display: block;
  }
}
.content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
  &__text {
    margin-bottom: 16px;
    color: $secondary-font-color;
    font-size: 16px;
    line-height: 1.19;
  }
  &__list {
    @extend %list;

    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
  &__link {
    @extend %link;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: $icon-color;
    background-color: transparent;
    border-radius: 50%;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    fill: #ffffff;
    background-color: $hover-font-color;
  }
}
