.work {
  padding-top: 0;
  &__header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  &__list {
    @extend %list;
    display: flex;
  }
  &__item {
    width: calc((100% - 60px) / 3);
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
.item__block {
  position: relative;
}
.item__img {
  display: block;
}
.item__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-style: 14px;
  width: 100%;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-font-color;
  background-color: rgba(47, 48, 58, 0.8);
}
