.footer__address {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  width: 232px;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: left;
  }
}
.footer__list {
  @extend %list;
}
.footer__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer__link {
  @extend %link;

  display: block;
  font-style: normal;
  color: $white-font-color;
  margin-bottom: 8px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }

  &--grey {
    @extend %link;

    font-style: normal;
    color: $grey-font-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus,
  &--grey:hover,
  &--grey:focus {
    color: $hover-font-color;
  }
}
