.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-bg-color;
}
.container--footer {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    flex-wrap: nowrap;
  }
}
