.footer-form__header {
  @extend .footer-social__header;
}
.form-subscribe {
  display: flex;
  &__input {
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
  }
  &__input:focus {
    border-color: $btn-bg-color;
  }
  &__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 10px 28px;
    color: $white-font-color;
    background: $btn-bg-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
  }
  &__icon {
    margin-left: 10px;
  }
}
