.contact {
  &__list {
    @extend %list;

    display: flex;
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    @extend %link;

    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-font-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: $hover-font-color;
  }
}
