.header {
  border-bottom: 1px solid $border-color;
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 0;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $hover-font-color;
  }

  @include tablet {
    display: none;
  }
}
