.menu-social__list {
  @extend %list;

  display: flex;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.menu-social__item {
  &:not(:last-child) {
    // color: red;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 5px;
    padding-right: 5px;
  }
}
.menu-social__link {
  @extend %link;
}
