.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  &__list {
    @extend %list;

    display: flex;
    margin-left: 93px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    @extend %link;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: $hover-font-color;
  }
  &__link--current {
    padding-bottom: 0;
    color: $hover-font-color;
  }
  &__link--current::after {
    display: block;
    content: "";
    margin-top: 28px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }
}
