$primary-logo-color: #2196f3;
$secondary-logo-color: #000000;
$white-logo-color: #ffffff;

$primary-font-color: #212121;
$secondary-font-color: #757575;
$hover-font-color: #2196f3;
$white-font-color: #ffffff;
$grey-font-color: rgba(255, 255, 255, 0.6);

$secondary-bg-color: #2f303a;

$btn-bg-color: #2196f3;
$rbtn-bg-color: #f5f4fa;

$border-color: #ececec;
$icon-color: #afb1b8;
$icon-color-footer: #ffffff;

$main-font: "Roboto";
$secondary-font: "Raleway";
$default-font: sans-serif;
